body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
    background-color: lavender;
}

.profile {
    width: 300px;
    margin: 50px;
    border-radius: 25%;

}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: aqua;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.83;
    background: linear-gradient(#34ebdb 0%, #df15ed 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
    text-shadow: 2px 2px #EEFF41;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
    font-family: cursive;
    font-weight: 300;
    text-shadow: 2px 2px #EEFF41;

}

#name {
    font-size: 40px;
    line-height: 1.2;
    font-family: fantasy;
    font-weight: 300;
}

#piano {
    padding: 50px;
    text-align: center;
    font-size: 40px;
}

.line {
    height: 6px;
    background-color: blue;
    width: 70px;
    margin: auto;
}

p {
    max-width: 450px;
    margin: auto;
    font-size: 22px;
    line-height: 1.3;
    color: rebeccapurple;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 10;
    cursor: pointer;
}

.links {
    display: inline;
    color: blue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: serif;
    font-size: 20px;
    background-color: black;
    float: left;
}

.links:hover {
    text-decoration: underline;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.article:hover {
    color: fuchsia;
}

html {
    scroll-behavior: smooth;
}

img:hover {
    transform: scale(0.9);
}

#contact {
    background-color: dodgerblue;
}

.contact_1 h3 {
    display: inline;
}

#inspiration a {
    text-shadow: none !important;
    text-decoration: underline !important;
    color: deepskyblue !important;
}
